.about{
  &__text{
    font-size: 20px;
    text-align: center;
    padding-bottom: 40px;
    margin-bottom: 40px;
    position: relative;
    &:after{
      content: '';
      display: block;
      width: 180px;
      background: $green;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 3px;
      position: absolute;
    }
  }
  @media(max-width: 991px){
    &__text{
      padding-bottom: 30px;
      margin-bottom: 30px;
    }
  }
  @media(max-width: 767px){
    &__text{
      text-align: left;
      font-size: 18px;
    }
  }
}
