.achiv{
  color: #fff;
  margin-bottom: 40px;
  &__img{
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
    img{
      height: 100%;
    }
  }
  &__title{
    margin-bottom: 15px;
    font-size: 20px;
    font-family: 'Montserrat';
  }
  @media(max-width: 991px){
    &__img{
      height: 80px;
      width: 80px;
    }
    &__title{
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
  @media(max-width: 767px){
    display: flex;
    margin-bottom: 20px;
    &__img{
      margin-right: 15px;
    }
  }
}
