.banner{
  background-image: url('../img/bg-banner-min.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 120px;
  border-top: 3px solid $green;
  &__title{
    margin-bottom: 40px;
    max-width: 800px;
  }
  .btn{
    width: 280px;
  }
  @media(max-width: 991px){
    background-position: 0 center;
    padding: 60px 0 80px;
    &__title{
      margin-bottom: 30px;
    }
  }
  @media(max-width: 767px){
    padding: 20px 0 60px;
    &__title{
      font-size: 24px;
    }
  }
  @media(max-width: 540px){
    background-position: center center;
  }
  @media(max-width: 360px){
    .btn{
      width: 100%;
    }
  }
}
