* {
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
	&:before, &:after {
		box-sizing: border-box;
	}
}
a{
  color: inherit;
}

html, body {
	height: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

p{
	margin: 0;
}


body {
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
	opacity: 1;
	margin: 0;
}


.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}
