.bottom-block{
  padding: 100px 0 60px;
  background-image: url('../img/bg-bottom-min.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &__title{
    font-weight: bold;
    margin-bottom: 40px;
  }
  &__form-text{
    font-size: 14px;
    color: $textgray;
    margin-bottom: 30px;
  }
  @media(max-width: 991px){
    &__title{
      margin-bottom: 30px;
    }
  }
  @media(max-width: 767px){
    &__title{
      margin-bottom: 20px;
    }
    &__form-text{
      margin-bottom: 15px;
    }
    padding: 40px 0 40px;
    background-position: left center;
  }
}
