.btn{
  border-radius: $border-radius;
  background: $orange;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  display: block;
  padding: 10px 20px;
  text-align: center;
  color: #fff;
  line-height: 1.2;
  text-decoration: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  &:hover{
    background: $hover;
  }
  &.btn--download{
    padding-right: 66px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><path d='M26 22.387C26 24.93 23.525 27 20.482 27H5.518C2.475 27 0 24.93 0 22.387c0-1.05 1.017-1.9 2.272-1.9s2.272.85 2.272 1.9c0 .449.437.814.974.814h14.964c.537 0 .974-.365.974-.814 0-1.05 1.017-1.9 2.272-1.9s2.272.85 2.272 1.9zm-14.322-3.77c.347.356.816.556 1.306.556.49 0 .959-.2 1.305-.556l5.45-5.609a1.939 1.939 0 0 0 0-2.686 1.81 1.81 0 0 0-2.61 0l-2.299 2.365V1.9c0-1.05-.826-1.9-1.846-1.9s-1.846.85-1.846 1.9v10.788L8.84 10.322a1.81 1.81 0 0 0-2.61 0 1.939 1.939 0 0 0 0 2.686l5.45 5.609z' fill-rule='nonzero' fill='%23FFF'/></svg>");
    background-repeat: no-repeat;
    background-size: 26px 27px;
    background-position: calc(100% - 20px) center;
    margin-bottom: 40px;
  }
  @media(max-width: 991px){
    font-size: 18px;
    padding: 10px 15px;
  }
  @media(max-width: 767px){
    &.btn--download{
      width: 100%;
      text-align: left;
    }
  }
}

.else-btn{
  color: $textgray;
  position: relative;
  padding-right: 30px;
  margin-bottom: 40px;
  cursor: pointer;
  &.collapsed{
    .else-btn__open-text{
      display: none;
    }
    &:after{
      content: '';
      display: block;
      height: 10px;
      width: 20px;
      position: absolute;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      right: 0;
      top: 7px;
      background-image: url("data:image/svg+xml;utf8,<svg width='24' height='13' xmlns='http://www.w3.org/2000/svg'><path d='M.738 1.853a.764.764 0 0 1-.238-.56C.5 1.08.58.885.738.731a.829.829 0 0 1 1.15 0L12 10.587 22.112.732a.829.829 0 0 1 1.15 0 .779.779 0 0 1 0 1.12L12.575 12.269a.829.829 0 0 1-1.15 0L.738 1.853z' fill-rule='nonzero' fill='%2366676A'/></svg>");
    }
  }
  &:not(.collapsed){
    pointer-events: none;
    .else-btn__close-text{
      display: none;
    }
  }
  @media(max-width: 767px){
    margin-bottom: 30px;
  }
}

.owl-nav > div {
  font-size: 0;
  width: 22px;
  height: 43px;
  position: absolute;
  left: -35px;
  top: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml;utf8,<svg width='22' height='43' xmlns='http://www.w3.org/2000/svg'><path d='M19.52 42.555c.284.297.638.445 1.028.445s.743-.148 1.027-.445a1.572 1.572 0 0 0 0-2.15L3.507 21.5 21.575 2.595a1.572 1.572 0 0 0 0-2.15 1.409 1.409 0 0 0-2.055 0L.425 20.425a1.572 1.572 0 0 0 0 2.15l19.095 19.98z' fill-rule='nonzero' fill='%2366676A'/></svg>");
  &.owl-next{
    left: auto;
    right: -35px;
    transform: rotate(180deg);
  }
  @media(max-width: 767px){
    left: -20px;
    &.owl-next{
      right: -20px;
    }
  }
}
