.check-list{
  margin: 0;
  padding: 0;
  list-style-type: none;
  li{
    font-size: 18px;
    padding-left: 30px;
    margin-bottom: 15px;
    position: relative;
    &:before{
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 4px;
      height: 20px;
      width: 20px;
      background-image: url("data:image/svg+xml;utf8,<svg width='20' height='20' xmlns='http://www.w3.org/2000/svg'><path d='M10 0C4.477 0 0 4.477 0 10s4.477 10 10 10 10-4.477 10-10S15.523 0 10 0zM8.166 15.137l-4.404-4.403L5.23 9.266l2.936 2.936 6.604-6.605 1.468 1.468-8.072 8.072z' fill-rule='nonzero' fill='%234DAF33'/></svg>");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}
