.input{
  padding: 10px 20px;
  background: #fff;
  border-radius: $border-radius;
  font-size: 18px;
  margin-bottom: 20px;
  border: 0;
  -webkit-appearance: none;
}
.form{
  flex-direction: column;
  align-items: stretch;
  display: flex;
}
.ok-message{
  font-weight: bold;
  color: $green;
}
.error{
  color: $red;
  font-size: 14px;
}
@media(max-width: 991px){
  .input{
    font-size: 16px;
    padding: 10px 15px;
    margin-bottom: 15px;
  }
}
