.list{
  font-size: 16px;
  margin: 0;
  padding: 0 0 0 20px;
  list-style-type: none;
  & li{
    margin-bottom: 10px;
    position: relative;
    &:before{
      content: '';
      height: 8px;
      width: 8px;
      border-radius: 50%;
      position: absolute;
      left: -20px;
      top: 7px;
      background: $green;
    }
  }
}
