.odds{
  &__list{
    margin: 0;
    padding: 0;
  }
  &__item{
    font-size: 20px;
    white-space: nowrap;

    cursor: pointer;
    display: block;
    width: 100%;
    &:first-child{
      .odds__link{
        border-top: 1px solid $smoke;
      }
    }
  }
  &__link{
    text-decoration: none;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $smoke;
    padding: 10px 0 10px 10px;
    color: $textgray;
    svg{
      fill: $textgray;
    }
    &.active{
      background: $smoke;
      color: $text;
      border-radius: $border-radius 0 0 $border-radius;
      svg{
        fill: $green;
      }
    }
  }
  &__img{
    height: 40px;
    width: 45px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    svg{
      height: 100%;
    }
  }
  &__list-wrap{
    padding-right: 0;
  }
  &__content{
    background: $smoke;
    border-radius: 0 $border-radius $border-radius 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  @media(max-width: 991px){
    &__text{
      display: none;
    }
  }
  @media(max-width: 767px){

  }
  @media(max-width: 575px){
    flex-wrap: nowrap;
    &__list-wrap{
      padding-left: 0;
      min-width: 65px;
    }
    &__content{
      border-radius: 0;
    }
    &__link.active{
      border-radius: 0;
    }
  }
}
