.review{
  &__name{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
  }
  &__job{
    color: $textgray;
    margin-bottom: 15px;
  }
  &__more{
    color: $green;
    margin-top: 15px;
    display: block;
    text-decoration: none;
    cursor: pointer;
  }
  &__body{
    max-height: 125px;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: max-height .7s;
    &.open{
      max-height: 1000px;
    }
  }
  img{
    max-width: 100%;
    width: auto!important;
  }
  @media(max-width: 991px){
    &__name{
      margin-top: 5px;
    }
  }
  @media(max-width: 767px){
    margin-bottom: 30px;
    padding: 0 15px;
  }
}
