.section{
  padding: 60px 0;
  overflow: hidden;
  &.section--dark{
    background: $dark;
    padding-bottom: 20px;
    color: #fff;
    .descrip{
      color: #fff;
    }
  }
  &.section--light{
    background: $light;
  }
  @media(max-width: 991px){
    padding: 40px 0;
    &.section--dark{
      padding-bottom: 10px;
    }
  }
  @media(max-width: 767px){
    padding: 30px 0;
    &__img{
      max-height: 150px;
      margin-bottom: 15px;
    }
  }
}
