.step{
  position: relative;
  justify-content: center;
  &__line{
    &:after{
      content: '';
      height: 100%;
      position: absolute;
      width: 3px;
      background: $green;
      top: 0;
      left: 43px;
    }
  }
  &.step--last{
    .step__line{
      &:after{
        display: none;
      }
    }
  }
  &__number{
    height: 50px;
    width: 50px;
    background: #fff;
    border-radius: 50%;
    border: 3px solid $green;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Montserrat';
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $green;
    position: relative;
    z-index: 1;
  }
  &__wrap{
    background: #fff;
    border-radius: $border-radius;
    padding: 20px 30px;
    margin-bottom: 40px;
    h3{
      margin-bottom: 5px;
      padding-right: 50px;
    }
  }
  &__time{
    font-size: 16px;
    color: $textgray;
  }
  &__body{
    padding-top: 20px;
  }
  &__collapse{
    position: relative;
    cursor: pointer;
    &:after{
      position: absolute;
      content: '';
      cursor: pointer;
      right: 0;
      top: 0;
      height: 30px;
      width: 30px;
      border: 2px solid $textgray;
      border-radius: 50%;
      background-image: url("data:image/svg+xml;utf8,<svg width='14' height='14' xmlns='http://www.w3.org/2000/svg'><path d='M12.833 5.833H8.167V1.167a1.166 1.166 0 1 0-2.334 0v4.666H1.167a1.166 1.166 0 1 0 0 2.334h4.666v4.666a1.166 1.166 0 1 0 2.334 0V8.167h4.666a1.166 1.166 0 1 0 0-2.334z' fill-rule='nonzero' fill='%2366676A'/></svg>");
      background-position: center;
      background-size: 14px auto;
      background-repeat: no-repeat;
    }
    &:not(.collapsed){
      &:after{
        background-image: url("data:image/svg+xml;utf8,<svg width='14' height='2' xmlns='http://www.w3.org/2000/svg'><path d='M12.833 0H1.167C.522 0 0 .448 0 1s.522 1 1.167 1h11.666C13.478 2 14 1.552 14 1s-.522-1-1.167-1z' fill-rule='nonzero' fill='%2366676A'/></svg>");
      }
    }
  }
  @media(max-width: 767px){
    &__number{
      height: 35px;
      width: 35px;
      font-size: 20px;
    }
    &__line{
      &:after{
        left: 37px;
      }
    }
    &__wrap{
      padding: 10px 20px;

    }
  }
  @media(max-width: 575px){
    &__number{
      position: absolute;
      top: -10px;
      left: 5px;
      border-width: 2px;
    }
  }
}
