.tarif-card{
  background: #fff;
  border-radius: $border-radius;
  padding: 30px;
  margin-bottom: 40px;
  color: $text;
  &__title{
    span{
      font-weight: bold;
      color: $orange;
    }
  }
  .list{
    li{
      margin-bottom: 3px;
    }
    margin-bottom: 30px;
  }
  &__price-block{
    margin-bottom: 30px;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
  }
  &__old-price{
    text-decoration: line-through;
    color: $textgray;
    font-size: 20px;
  }
  &__date{
    color: $red;
  }
  &__price{
    font-weight: bold;
    font-family: 'Montserrat';
    font-size: 36px;
    color: $green;
    line-height: 1.2;
  }
  .btn{
    width: 100%;
  }
  @media(max-width: 1199px){
    &__price{
      font-size: 30px;
    }
    &__old-price{
      font-size: 18px;
    }
  }
  @media(max-width: 991px){
    &__price-block{
      margin-bottom: 20px;
    }
  }
  @media(max-width: 767px){
    padding: 20px;
    max-width: 400px;
    margin: 0 auto 30px;
  }
}
