body{
  font-size: 16px;
  line-height: 1.4;
  color: $text;
  font-family: 'PT Sans';
}
h1{
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 42px;
}
h2{
  font-family: 'Montserrat';
  font-size: 32px;
  font-weight: normal;
  margin: 0 0 15px;
  &.single{
    margin-bottom: 40px;
  }
}
h3{
  font-family: 'Montserrat';
  font-size: 20px;
  margin: 0 0 20px;
  font-weight: normal;
}
.descrip{
  color: $textgray;
  font-size: 18px;
  margin-bottom: 40px;
}
.p-text{
  margin-bottom: 20px;
  line-height: 1.6;
}
@media(max-width: 991px){
  h1{
    font-size: 36px;
  }
  h2{
    font-size: 26px;
    &.single{
      margin-bottom: 30px;
    }
  }
  h3{
    font-size: 18px;
    margin-bottom: 15px;
  }
}

@media(max-width: 767px){
  h1{
    font-size: 24px;
  }
  h2{
    font-size: 20px;
    &.single{
      margin-bottom: 20px;
    }
  }
  .descrip{
    font-size: 16px;
    margin-bottom: 30px;
  }
}
