$green: #4DAF33;
$orange: #FA7101;
$text: #222222;
$light: #FFFAF0;
$textgray: #66676A;
$smoke: #F6F6F6;
$dark: #3B4346;
$red: #D0021B;
$gray: #ccc;
$hover: #ff6002;


//grig parametrs

$container-max-widths: (
  sm: 540px,
  md: 768px,
  lg: 960px,
  xl: 1200px,
) !default;
$grid-columns:                12 !default;
$grid-gutter-width:           40px !default;


$transition: 0.2s ease;

$border-radius: 0px;
