.worker{
  &__list{
    position: relative;
    &:before{
      content: '';
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      width: 788px;
      left: -120%;
      background-image: url('../img/worker-min.jpg');
      background-size: contain;
      background-position: left bottom;
      background-repeat: no-repeat;
    }
  }
  &__item{
    display: flex;
    align-items: center;
    margin-top: 40px;
    position: relative;
  }
  &__icon{
    background: $green;
    height: 60px;
    width: 60px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 20px;
    border-radius: 50%;
    svg{
      fill: #fff;
      height: 100%;
    }
    &.worker__icon--small{
      padding: 15px;
    }
  }
  &__line{
    height: 3px;
    width: 50px;
    position: absolute;
    left: 0;
    top: calc(50% - 1px);
    transform: translateX(-100%);
    background: $green;
    &:before{
      height: 15px;
      width: 15px;
      content: '';
      display: block;
      position: absolute;
      border: 3px solid $green;
      background: #fff;
      left: -10px;
      top: -6px;
      border-radius: 50%;
    }
    &.worker__line--1{
      width: 500px;
    }
    &.worker__line--2{
      width: 540px;
    }
    &.worker__line--3{
      width: 485px;
    }
    &.worker__line--4{
      width: 110px;
    }
    &.worker__line--5{
      width: 150px;
    }
  }
  @media(max-width: 1199px){
    &__item{
      margin-top: 20px;
    }
    &__line{
      &.worker__line--1{
        width: 395px;
      }
      &.worker__line--2{
        width: 430px;
      }
      &.worker__line--3{
        width: 385px;
      }
      &.worker__line--4{
        width: 70px;
      }
      &.worker__line--5{
        width: 100px;
      }
    }
  }
  @media(max-width: 991px){
    &__item{
      margin-top: 15px;
    }
    &__list:before{
      left: -115%;
    }
    &__line{
      &.worker__line--1{
        width: 340px;
      }
      &.worker__line--2{
        width: 375px;
      }
      &.worker__line--3{
        width: 330px;
      }
      &.worker__line--4{
        width: 20px;
      }
      &.worker__line--5{
        width: 50px;
      }
    }
  }
  @media(max-width: 767px){
    &__line{
      display: none;
    }
    &__list{
      padding-bottom: 80px;
      &:before{
        left: -33%;
        top: auto;
        bottom: 0;
        width: 449px;
      }
    }
    &__item{
      align-items: flex-start;
    }
    &__icon{
      height: 40px;
      width: 40px;
      padding: 6px;
      margin-right: 10px;
      &.worker__icon--small{
        padding: 9px;
      }
    }
  }
  @media(max-width: 575px){
    &__list{
      padding-bottom: 65vw;
      &:before{
        left: 0;
        width: 100%;
      }
    }
  }
}
